@import "../../assets/css/index.css";

.intro .el-collapse-item__header {
  font-weight: 600;
  font-size: 12px;
  color: #353535;
}

#footer {
  padding: 30px 0;
  background: #3a3a3a;
  color: #909090;
  line-height: 30px;
}

#footer a {
  color: #7fffd4;
}
